@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 64px;
}

.loading div {
  position: absolute;
  width: 132px;
  height: 132px;
  border: 8px solid #7f1b28;
  border-top-color: transparent;
  border-radius: 50%;

  animation: loading 1s linear infinite;
  top: 100px;
  left: 100px;

  box-sizing: content-box;
}
.loadingContainer {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(56, 37, 27, 0);
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
